@charset "UTF-8";

@font-face {
    font-family: 'Comic';
    src: url('../fontes/ComicNeueSansID.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --cor0: #000000;
    --cor1: #FFFFFF;

    --font-comic: 'Comic', cursive;
}

header {
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
    font-family: var(--font-comic);
    padding-top: 10px;
}

nav a {
    
}